{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
        <!------ Include the above in your HEAD tag ---------->
        <link href='https://fonts.googleapis.com/css?family=Niramit' rel='stylesheet'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>
            Chat Messaging
        </title>
    </head>
    <body>
        {% if sessionId %}
            <input type="hidden" id="sessionId" name="sessionId" value="{{sessionId}}">
        {% endif %}
        {% csrf_token %}
        <input type="hidden" id="sessionId" name="sessionId" value="{{sessionId}}">
        <div class="container py-5 px-4">
            <!-- For demo purpose-->
            <header class="text-center">
              <h1 class="display-4 text-white">Bootstrap Chat</h1>
              <p class="text-white lead mb-0">An elegant chat widget compatible with Bootstrap 4</p>
              <p class="text-white lead mb-4">Snippet by
                <a href="https://bootstrapious.com" class="text-white">
                  <u>Bootstrapious</u></a>
              </p>
            </header>
          
            <div class="row rounded-lg overflow-hidden shadow">
              
              <!-- Chat Box-->
              <div class="col-12 px-0">
                <div class="bg-gray px-4 py-2 bg-light">
                    <p class="h5 mb-0 py-1">Chat</p>
                  </div>
                <div class="px-4 py-5 chat-box bg-white" id="chat-content">
                  <!-- Sender Message-->
                  <div class="media w-50 mb-3">
                    <img src="" alt="userid: 171717" width="50" class="rounded-circle">
                    <div class="media-body ml-3">
                      <div class="bg-light rounded py-2 px-3 mb-2">
                        <p class="text-small mb-0 text-muted">Test which is a new approach all solutions</p>
                      </div>
                      <p class="small text-muted">12:00 PM | Aug 13</p>
                    </div>
                  </div>
          
                  <!-- Reciever Message-->
                  <div class="media w-50 ml-auto mb-3">
                    <div class="media-body">
                      <div class="bg-primary rounded py-2 px-3 mb-2">
                        <p class="text-small mb-0 text-white">Test which is a new approach to have all solutions</p>
                      </div>
                      <p class="small text-muted">12:00 PM | Aug 13</p>
                    </div>
                  </div>
          
                </div>
          
                <!-- Typing area -->
                <div class="bg-light">
                  <div class="input-group">
                    <input type="text" id="message" name="message" placeholder="Type a message" aria-describedby="button-addon2" class="mytext form-control rounded-0 border-0 py-4 bg-light">
                    <div class="input-group-append">
                      <button id="sendMessage" type="submit" class="btn btn-link"> <i class="fa fa-paper-plane"></i></button>
                    </div>
                  </div>
                </div>
          
              </div>
            </div>
          </div>  
        <script>
            var me = {};

            var you = {};

            WebSocketTest();
            
            $(".mytext").on("keydown", function(e){
                if (e.which == 13){
                    var text = $("#message").val();
                    if (text !== ""){
                        sendMessage(e);            
                        $("#message").val('');
                    }
                }
            });

            var sendMessage = function(event) {
                $.ajax({
                    url : '/',
                    type: 'POST',
                    data: {
                        message : $('#message').val(),
                        csrfmiddlewaretoken : $('input[name=csrfmiddlewaretoken]').val(),
                    },
                    success : function(response) {
                    }
                });
            }

            function WebSocketTest() {
                if ("WebSocket" in window) {
                    var ws_stomp_display     = new WebSocket('ws://127.0.0.1:15674/ws');
                    var client_display = Stomp.over(ws_stomp_display);
                    var mq_queue_display    = "/exchange/chatmessage/stream";

                    var on_connect_display = function() {
                        console.log('connecting...');
                        client_display.subscribe(mq_queue_display, on_message_display);
                    };

                    var on_error_display =  function() {
                        console.log('error');
                    };

                    var on_message_display = function(m) {
                        message = JSON.parse(m.body);
                        sessionId = $("#sessionId").val();
                        if (sessionId == message.sessionId) {
                            insertChat("me", message.message, 0, sessionId);
                        } else {
                            insertChat("you", message.message,0, message.sessionId);
                        }
                    };

                    client_display.connect('guest', 'guest', on_connect_display, on_error_display, '/');

                } else {
                // The browser doesn't support WebSocket
                alert("WebSocket NOT supported by your Browser!");
                }
            }
            $(function(){
                $(".heading-compose").click(function() {
                $(".side-two").css({
                    "left": "0"
                });
                });

                $(".newMessage-back").click(function() {
                $(".side-two").css({
                    "left": "-100%"
                });
                });
            }) 
                        

            function formatAMPM(date) {
                var hours = date.getHours();
                var minutes = date.getMinutes();
                var ampm = hours >= 12 ? 'PM' : 'AM';
                hours = hours % 12;
                hours = hours ? hours : 12; // the hour '0' should be '12'
                minutes = minutes < 10 ? '0'+minutes : minutes;
                var strTime = hours + ':' + minutes + ' ' + ampm;
                return strTime;
            }            

            //-- No use time. It is a javaScript effect.
            function insertChat(who, text, time, sessionId){
                if (time === undefined){
                    time = 0;
                }
                var control = "";
                var date = formatAMPM(new Date());
                
                if (who == "me"){       
                    control = '<div class="media w-50 ml-auto mb-3">' +
                    '<div class="media-body">' +
                      '<div class="bg-primary rounded py-2 px-3 mb-2">' +
                        '<p class="text-small mb-0 text-white">' + text + '</p>' +
                      '</div>' +
                      '<p class="small text-muted">' + date + '</p>' + 
                    '</div>' + 
                  '</div>';          ;
                }else{
                    control = '<div class="media w-50 mb-3">' +
                                    '<img src="" alt="userid: ' + sessionId + '" width="50" class="rounded-circle">' +
                                    '<div class="media-body ml-3">' + 
'                                    <div class="bg-light rounded py-2 px-3 mb-2">' +
                                        '<p class="text-small mb-0 text-muted">' + text + '</p>' +
                                    '</div>' +
                                    '<p class="small text-muted">' + date + '</p>' +
                                    '</div>' +
                                '</div>';
                }
                setTimeout(
                    function(){                        
                        $("#chat-content").append(control).scrollTop($("#chat-content").prop('scrollHeight'));
                    }, time);
                
            }

            function resetChat(){
                $("ul").empty();
            }

            $('body > div > div > div:nth-child(2) > span').click(function(){
                $(".mytext").trigger({type: 'keydown', which: 13, keyCode: 13});
            })

            //-- Clear Chat
            resetChat();

            //-- Print Messages
            // insertChat("me", "Hello Tom...", 0);  
            // insertChat("you", "Hi, Pablo", 1500);
            // insertChat("me", "What would you like to talk about today?", 3500);
            // insertChat("you", "Tell me a joke",7000);
            // insertChat("me", "Spaceman: Computer! Computer! Do we bring battery?!", 9500);
            // insertChat("you", "LOL", 12000);


            //-- NOTE: No use time on insertChat.
        </script> 
    </body>
</html>
